$color: #fff;
$buttonSize: 56px;
$buttonBorderSize: 3px;

// svg path {
//   fill: inherit;
// }

.coachmark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  /*background: #000;*/
  /*opacity: 0.60;*/
  z-index: 100;
}

.coachmark-top,
.coachmark-left,
.coachmark-right,
.coachmark-bottom {
  position: fixed;
  background: #000;
  opacity: 0.66;
  margin: 0;
  padding: 0;
}

.coachmark-top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.coachmark-left {
  left: 0;
}

.coachmark-right {
  right: 0;
}

.coachmark-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.coachmark-glow {
  position: absolute;
  /*z-index: 101;*/
  /*box-shadow: 0 0 120px 50px #fff;*/
}

.coachmark-text-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmin;
}

.coachmark-text {
  font-size: 15vmin;
  font-family: 'Short Stack', cursive;
  line-height: 15vmin;
  color: #fefefe;
  // position: fixed;
  // top: 134;
  // left: 596px;
  text-shadow: 2px 2px #333;
  z-index: 2;
}

.coachmark-svg {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: 1;
}

.coachmark-line, .leader-line-line-path {
  stroke: $color;
  stroke-width: 1vmin;
  stroke-linecap: round;
}

path.coachmark-line {
  stroke-width: 1vmin;
  stroke-linecap: round;
}



/* Override Leader-Line Settings */
.leader-line-plugs-face {
  marker-end: url(#arrowhead0) !important;
  stroke-width: 1px;
}

.leader-line {
  z-index: 10000;

  path {
    filter: 'url(#coachmark-chalk)';
  }
}

.leader-line {
  position: fixed
}

path.coachmark-marker {
  stroke: $color;
  stroke-width: 1.33vmin;
  stroke-linecap: round;
}
