$color: #B4C5E4;
$buttonSize: 56px;

.coachmark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  /*background: #000;*/
  /*opacity: 0.60;*/
  z-index: 100;
}

.coachmark-top,
.coachmark-left,
.coachmark-right,
.coachmark-bottom {
  position: fixed;
  background: #000;
  opacity: 0.66;
  margin: 0;
  padding: 0;
}

.coachmark-top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.coachmark-left {
  left: 0;
}

.coachmark-right {
  right: 0;
}

.coachmark-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.coachmark-glow {
  position: absolute;
  /*z-index: 101;*/
  /*box-shadow: 0 0 120px 50px #fff;*/
}

.coachmark-text-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmin;
}

.coachmark-text {
  font-size: 15vmin;
  line-height: 15vmin;
  color: #fefefe;
  // position: fixed;
  // top: 134;
  // left: 596px;
  text-shadow: 2px 2px #333;
  z-index: 2;
}

.coachmark-svg {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: 1;
}

.coachmark-line, .leader-line-line-path {
  stroke: $color;
  stroke-width: 1vmin;
  stroke-linecap: round;
}

path.coachmark-line {
  stroke-width: 1vmin;
  stroke-linecap: round;
}

.coachmark-close {
  z-index: 9999;
  background-color: $color;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  margin: 5vmin;
  font-size: $buttonSize - 20px;
  line-height: $buttonSize;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12), 0 1px 5px 0 rgba(255, 255, 255, 0.12), 0 3px 1px -2px rgba(255, 255, 255, 0.2)
}

/* Override Leader-Line Settings */
.leader-line-plugs-face {
  marker-end: url(#arrow) !important;
  stroke-width: 1px;
}

.leader-line path {
  filter: 'url(#coachmark-chalk)';
}
